$text-color: theme-color('dark');

$nav-height: calc(#{$nav-link-height} + #{$navbar-padding-y} * 2);
$footer-height: calc(#{$nav-link-height} + #{$btn-padding-y-lg} * 2 + #{$font-size-base} * #{$line-height-base + #{$paragraph-margin-bottom} * 2});
